@import "tailwindcss";
@plugin "daisyui" {
    themes: light, dark --prefersdark, cupcake --default;
}
@theme {
    --color-bgColor: #294236;
    --color-primaryColor: #FFA15C;
    --color-secondaryColor: rgba(19, 213, 170, 1);
    --color-greenColor: rgba(19, 213, 170, 0.3);
    --color-dangerColor: #FA233E;
    --font-poppins: Poppins, sans-serif;
}

